.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__list {
  display: flex;
  justify-content: space-between;
  color: #2e363e;
}
.nav__notification {
  position: absolute;
  left: 13px;
  bottom: 11px;
}
.nav__link {
  position: relative;
}
.nav__dot {
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  position: absolute;
  left: 18px;
  bottom: 15px;
}
