.screen-header {
  margin-top: 30px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}
.header__title {
  font-size: 32px;
  font-weight: 600;
}
.header__icons span {
  margin-left: 27px;
}
